.overlay {
	position: fixed;
	top: 0;
	left: -392px;
	z-index: 1;
	width: calc(100% + 392px);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.cartHeader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	img:hover {
		cursor: pointer;
	}

	h2 {
		border-bottom: 2px solid #4e4e4e;
	}
}

.content {
	height: 96%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.items {
	flex: 1;
	margin: 50px 0 50px 10px;
	padding-right: 10px;
	overflow: auto;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		width: 0;
	}
}

.cart {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	width: 392px;
	height: 100vh;
	background-color: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	//animation: arrival 0.5s linear;

	h2 {
		font-size: 30px;
		margin: 0;
	}

	//@keyframes arrival {
	//	0% {
	//		opacity: 0;
	//		right: -392px;
	//	}
	//}
}

.cartItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #f3f3f3;
	width: 100%;
	border-radius: 20px;
	padding: 15px 0 15px 0;

	&:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
		transition: 0.1s ease-in-out;
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	div {
		font-size: 17px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 110px;

		p {
			margin: 0 0 5px 0;
			text-align: center;
		}

		img {
			opacity: 0.5;
		}

		img:hover {
			transition: 0.05s ease-in-out;
			cursor: pointer;
			opacity: 1;
		}

		&:last-child {
			width: 90px;
		}
	}
}

.cartCount {
	font-size: 18px;

	div {
		height: 0.8rem;
		flex: 0.92;
		border-bottom: 1px dotted #d0d0d0;
	}

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}
}

.clear {
	width: fit-content;
	opacity: 0.3;
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
}

.greenBtn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 55px;
	background-color: #8cd93e;
	border: none;
	border-radius: 20px;
	color: #ffffff;
	font-size: 20px;
	margin-top: 30px;

	img {
		position: absolute;
		right: 55px;
	}

	&:hover {
		-webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
		-moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
		box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
		cursor: pointer;
	}

	&:active {
		background-color: darken(#9DD558, 5%);
	}
}

/*Пустая корзина*/

.emptyContent {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.greenBtn {
		img {
			left: 55px;
			transform: rotate(180deg);
			animation: none;
		}
	}
}

.display {
	width: 18px;
}

.image {
	display: flex;
	align-items: center;
	flex-direction: column;

	p {
		font-size: 20px;
		text-align: center;
	}
}

/*Adaptive*/

@media (max-width: 420px) {
	.cart {
		width: 100vw;
	}
	.greenBtn {
		img {
			display: none;
		}
	}
}
