.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #f3f3f3;
	padding: 20px;
	width: 210px;
	height: 300px;
	border-radius: 20px;
	margin-top: 40px;

	b {
		font-size: 20px;
		text-align: center;
	}

	p {
		font-weight: 500;
		text-align: center;
		font-size: 14px;
	}

	&:hover {
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
		transform: scale(105%);
		transition: 0.1s ease-in-out;
	}
}

.cardTop {
	display: flex;
	flex-direction: column;
	align-items: center;

	div {
		margin-top: 15px;
		display: flex;
		align-items: center;
		height: 3.5rem;
	}
}


.like {
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0.7;

	&:hover {
		cursor: pointer;
	}
}

.cardPrice {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 17px;
	opacity: 0.7;
}

.price {
	color: red;
	font-weight: 600;
	font-size: 16px;
}


.count {
	background-color: inherit;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #3d3d3d;
	width: 25px;
	height: 25px;
	margin-left: 10px;
	cursor: pointer;
	color: #3d3d3d;
	&:hover {
		background-color: #9DD558;
	}
	&:active {
		background-color: #6fbc01;
	}
}

.countNull {
	border: 0;
	padding: 0;
	background-color: inherit;
	font-size: 10px;
	position: absolute;
	right: -10px;
	top: -5px;
	&:hover {
		cursor: pointer;
	}
}

