/*Обнуление*/

* {
	box-sizing: border-box;
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

/*Обнуление*/

body {
	margin: 0;
	font-family: Inter, system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

.wrapper {
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

.content {
	padding: 40px;

	h1 {
		margin: 0;
		width: fit-content;
		border-bottom: 2px solid #FCDC5F;
	}
}

.contentHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px
}

.contentHeaderBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cardContainer {
	display: grid;
	grid-template-columns: repeat(4, 210px);
	justify-items: center;
	justify-content: space-between;
}

.favContent {
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	p {
		margin-top: 40px;
		font-size: 20px;
	}
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	padding: 5px;

	img {
		opacity: 0.5;
		margin-left: 5px;
	}

	img:last-child:hover {
		cursor: pointer;
	}

	input {
		border: none;
		font-family: Inter, system-ui;
		font-size: 14px;
		margin-left: 10px;
		width: 155px;
	}
}
/*CSS Transition Styles*/

.cart-arrival-enter {
	opacity: 0;
	transform: translateX(392px);
}
.cart-arrival-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: 1000ms;
}
.cart-arrival-exit {
	opacity: 1;
	transform: translateX(0);
}
.cart-arrival-exit-active {
	opacity: 0;
	transform: translateX(392px);
	transition: 500ms;
}
@media (max-width: 950px) {
	.cardContainer {
		grid-template-columns: repeat(3, 210px);
	}
}

@media (max-width: 830px) {
	.contentHeaderTop {
		flex-direction: column;
	}
}

@media (max-width: 726px) {
	.cardContainer {
		grid-template-columns: repeat(2, 210px);
		justify-content: space-evenly;
	}
	.contentHeader {
		flex-direction: column;

		.search {
			margin-top: 20px;
		}
	}
}



@media (max-width: 526px) {
	.cardContainer {
		grid-template-columns: repeat(1, 210px);
	}
}

@media (max-width: 430px) {
	.contentHeaderBottom{
		flex-direction: column;
		h1 {
			margin-bottom: 40px;
		}
	}
}

